// Vendor Components
@import "/bootstrap/scss/bootstrap";

body {
    width: 100%;
    height: 100%;
    font-family: $font-default;
    color: white;
    background-color: black;
    overflow-y: scroll;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $font-default;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: medium none!important;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-family: $font-default;
    background-color: black;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.btn-circle {
    width: 70px!important;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: $font-default;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(0, 99, 19, 1);
    color: white;
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(10, 108, 29, 0.2) none repeat scroll 0% 0%;
    color: white;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

.modal-open .modal {
    color: $black;
}

.copyrightnotice {
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    font-family: $font-default;
    text-indent: 0;
}

#mycustomscroll {
    /* Typical fixed height and fixed width example */
    width: 300px;
    height: 250px;
    overflow: auto;
    /* IE overflow fix, position must be relative or absolute*/
    position: relative;
    background-color: #E7EADE;
    margin: 0.3em auto;
    padding: 15px;
}

#mycustomscroll2 {
    /* Typical fixed height and fixed width example */
    width: 340px;
    height: 250px;
    overflow: auto;
    /* IE overflow fix, position must be relative or absolute*/
    position: relative;
    background-color: #D5EADE;
    margin: 0.3em auto;
    padding: 15px;
}


.fixedwidth {
    /* a wide div is used for creating horizontal scrollbars for demonstration purposes */
    width: 550px;
    height: auto;
    position: relative;
    color: black;
    padding: 1px;
}

.bg-gray {
    color: $black;
    background-color: $tcp-gray-darker;
    background-image: url("/static/img/gray_bottom.png"), url("/static/img/gray_top.png");
    background-position: bottom center, top center;
    background-repeat: repeat-x, repeat-x;
    .fa:before {
        color: $white;
    }
    hr {
        border-color: $white !important;
    }
    .widget-title, .section-heading {
        color: $white;
    }
    h3 > a {
      color: #fff;
      &:hover, &:focus, &:active {
        color: #fff;
      }
    }
}

.bg-headline {
    color: $white;
    &.parallax {
        padding: 100px 0;
        background-position: 0 0;
        background-image: url("/static/img/headline.jpg");
    }
}

.bg-intro {
    color: $white;
    display: table;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    &.parallax {
        padding: 100px 0;
        background-position: 0 0;
        background-image: url("/static/img/intro-bg.jpg");
    }
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 100px;
        }
        .intro-text {
            font-size: 26px;
        }
    }
}

.border-light {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 3px;
    margin: 0 auto;
    width: 50px;
    margin-bottom: 40px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    float: left;
}

div.section-heading:hover {
    .border-light {
        width: 100px;
        }
}