{% extends widget.get_base_template %}

{% block content %}

{% for item in widget.items %}

{# GRAYSCALE #}

{% if item.slug == "polls" %}
<section id="{{ item.slug }}" class="bg-headline parallax">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %}">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == "blog" %}
<section id="{{ item.slug }}" class="bg-headline parallax">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %}">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == "brigades" %}
<section id="{{ item.slug }}" class="bg-headline parallax">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %}">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == "contact" %}
<section id="{{ item.slug }}" class="bg-headline parallax">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %}">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>

{# UNKNOWN #}

{% else %}
<section id="{{ item.slug }}" class="bg-unknown">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %}">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% endif %}

{% endfor %}

<script>
(function(){

  var parallax = document.querySelectorAll(".parallax"),
      speed = 1;

  window.onscroll = function(){
    [].slice.call(parallax).forEach(function(el,i){

      var windowYOffset = window.pageYOffset,
          elBackgrounPos = "50% " + (windowYOffset * speed) + "px";

      el.style.backgroundPosition = elBackgrounPos;

    });
  };

})();
</script>

{% endblock %}
